

    <div class="ajax_cv_view">
        <div class="row align-items-center p-auto cv_infos_section">
            <div class="col-md-3 col-xs-12" id="cv_infos_picture">
                <img src="{{ asset('/images/' ~ infos.picture)}}" alt="profil" class="cv_infos_picture">
            </div>
            <div class="col-9 text-center">
                <h2 class="section_title">
                    {{ infos.name }}
                    {{ infos.lastname }}
                </h2>
                <h5>
                    <i class="blue_icon fas fa-user"></i> Age : {{ infos.age }} ans
                </h5>
                <h5>
                    <i class="blue_icon fas fa-phone"></i> Téléphone : {{ infos.phone }} 
                </h5>
                <h5>
                    <i class="blue_icon far fa-envelope"></i> E-mail : {{ infos.email }} 
                </h5>
            </div>
        </div>
    </div>

