<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="author" content="Florian THIEBAUD" />
        <meta name="copyright" content="©2020 Floz" />
        <meta name="description" content="Bienvenue sur mon site. Vous pourrez ici me découvrir à travers un CV dynamique et mon Portfolio." />
        <meta name="keywords" content="developper,développeur,web,php,poo,symfony,backend,france,loire,lyon,saint-etienne,frontend,javascript,js,jquery" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Floz Workshop !" />
        <meta property="og:type" content="website" />
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/breakpoints.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="shortcut icon" href="{{ asset('images/bird.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Floz Workshop !</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'main/header.html.twig' %}

        {% block errorpage %}{% endblock %}
        {% block body %}
        
        {% include 'main/download_cv.html.twig' %}

        {% include 'main/presentation.html.twig' %}

        {% for message in app.flashes('success_confirm') %}
            <div class="alert alert-success col-8 m-auto text-center">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error_confirm') %}
            <div class="alert alert-danger col-8 m-auto text-center">{{ message }}</div>
        {% endfor %}

        {% include 'main/introduce_me.html.twig' %}

        <div id="item-cv"></div>
            {% include 'main/cv.html.twig' %}

        <div id="item-skills"></div>
            {% include 'main/skills.html.twig' %}

        <div id="item-portfolio"></div>
            {% include 'main/projects_slider.html.twig' %}

        <div id="item-contact"></div>
        <div class="row container m-auto" id="contact_comments">
            {% include 'main/contact.html.twig' %}
            {% include 'main/comments.html.twig' %}
        </div>
        
        {% endblock %}

        {% include 'main/footer.html.twig' %}

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('/js/main.js') }}"></script>
        <script src="{{ asset('/js/Subscribe.js') }}"></script>
        <script src="{{ asset('/js/Effects.js') }}"></script>
        <script src="{{ asset('/js/Skills.js') }}"></script>
        <script src="{{ asset('/js/Ajax.js') }}"></script>
        <script src="{{ asset('/js/Slider.js') }}"></script>
    </body>
</html>
