<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Florian THIEBAUD" />
        <meta name="copyright" content="©2019 Floz " />
        <meta name="description" content="Bienvenue sur mon site. Vous pourrez ici me découvrir à ravers un CV dynamique et mon Portfolio." />
        <meta name="keywords" content="developper,développeur,web,php,poo,symfony,backend,france,loire,lyon,saint-etienne" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Floz Workshop !" />
        <meta property="og:type" content="website" />
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/breakpoints.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="shortcut icon" href="" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>{% block title %}Floz Workshop !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div id="navbar" class="container-fluid">
                <img id="logo1" src="{{ asset('/images/logo.png') }}" class="img-fluid" alt="logo">
                <div></div>
                <ul class="row">
                    <a href=""><li>ACCUEIL</li></a>
                    <a href=""><li>MON CV</li></a>
                    <a href=""><li>MES COMPÉTENCES</li></a>
                    <a href=""><li>MON PORTFOLIO</li></a>
                </ul>
            </div>
        </header>
        <div id="presentation" class="container-fluid">
            <div id="presentation_card">
                <h1 class="animated bounceInDown title_presentation">
                Florian Thiébaud
                </h1>
                <p class="animated bounceInUp text_presentation">
                   Développeur Web Junior
                </p>
                <input type="button" value="Contact" class="btn_contact btn btn-outline-info btn-sm col-md-6 col-xs-12">
            </div>
            <div id="presentation_card2">
                <div class="profil">
                    <img class="photo_profil" src="{{ asset('images/profil.jpeg')}}" alt="profil">
                    <h2 class="title_presentation2"><span class="text-white">&lt</span> Bonjour <span class="text-white">&gt</span></h2>
                </div> 
                <p class="mt-2 animated bounceInUp text_presentation2">
                   Fraîchement diplômé de la formation DWJ d'OpenClassRooms, j'ai une forte appétence pour les langages backend et notamment Symfony, tout en m'intéressant aux langages frontend.
                </p>
                <input type="button" value="Contact" class="btn_contact btn btn-outline-info btn-sm col-md-6 col-xs-12">
            </div>
        </div>
        <div class="container mt-3" id="introduce_me">
            <div class="col-8 m-auto">
                <h2 class="text-center section_title mb-3"><img class="mr-2" style="opacity:0.5" src="{{ asset('images/bird.png')}}" alt="bird">PRÉSENTATION :</h2>
                <p class="introduce_text">
                    Après un parcours atypique, une Licence STAPS, divers rôles dans l'événementiel et l'achat d'un fond de commerce, je décide à 31ans de revenir à mon premier amour qui est le développement via la formation "Développeur Web Junior" d'OpenClassrooms en octobre 2019.
                    <br><hr>
                    À travers cette formation je découvre dans un premier temps les langages frontend (HTML, CSS, JS), tout en apprenant à développer en orienté objet. Puis ma préférence se tourne sur les langages backend (PHP, framework Symfony)
                </p>
            </div>
        </div>
        <div class="container mt-3">
            <h2 class="section_title text-center"><img class="mr-2" style="opacity:0.5" src="{{ asset('images/bird.png')}}" alt="bird">MON CV :</h2>
            <div class="row mt-3">
                <div id="buttons_cv" class="col-3">
                    <a href=""><input class="btn btn-primary" type="button" value="INFORMATIONS"></a>
                    <a href=""><input class="btn btn-success" type="button" value="DIPLÔMES"></a>
                    <a href=""><input class="btn btn-danger" type="button" value="COMPÉTENCES"></a>
                    <a href=""><input class="btn btn-warning" type="button" value="EXPÉRIENCES"></a>
                    <a href=""><input class="btn btn-info" type="button" value="SOFT SKILLS"></a>
                </div>
            </div>
        </div>
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('/js/main.js') }}"></script>
        <script src="{{ asset('/js/Effects.js') }}"></script>

    </body>
</html>

<script>

</script>