<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Florian THIEBAUD" />
        <meta name="copyright" content="©2019 Floz " />
        <meta name="description" content="Bienvenue sur mon site. Vous pourrez ici me découvrir à ravers un CV dynamique et mon Portfolio." />
        <meta name="keywords" content="developper,développeur,web,php,poo,symfony,backend,france,loire,lyon,saint-etienne" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Floz Workshop !" />
        <meta property="og:type" content="website" />
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/breakpoints.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="shortcut icon" href="" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>{% block title %}Floz Workshop !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div id="navbar" class="container-fluid">
                <img id="logo1" src="{{ asset('/images/logo.png') }}" class="img-fluid" alt="logo">
                <div></div>
                <ul class="row col-xs-12">
                    <a href=""><li>ACCUEIL</li></a>
                    <a href=""><li>MON CV</li></a>
                    <a href=""><li>MES COMPÉTENCES</li></a>
                    <a href=""><li>MON PORTFOLIO</li></a>
                </ul>
            </div>
        </header>
            <div id="download_cv">
                CV
                <i class="fas fa-download"></i>
            </div>
        <div id="presentation" class="container-fluid">
            <div id="presentation_card">
                <h1 class="animated bounceInDown title_presentation">
                Florian Thiébaud
                </h1>
                <p class="animated bounceInUp text_presentation">
                   Développeur Web Junior
                </p>
                <input type="button" value="Contact" class="btn_contact btn btn-outline-info btn-sm col-md-6 col-xs-12">
            </div>
            <div id="presentation_card2">
                <div class="profil">
                    <img class="photo_profil" src="{{ asset('images/profil.jpeg')}}" alt="profil">
                    <h2 class="title_presentation2"><span class="text-white">&lt</span> Bonjour <span class="text-white">&gt</span></h2>
                </div> 
                <p class="mt-2 animated bounceInUp text_presentation2">
                   Fraîchement diplômé de la formation DWJ d'OpenClassRooms, j'ai une forte appétence pour les langages backend et notamment Symfony, tout en m'intéressant aux langages frontend.
                </p>
                <input type="button" value="Contact" class="btn_contact btn btn-outline-info btn-sm col-md-6 col-xs-12">
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% include 'main/introduce_me.html.twig' %}
        {% include 'main/cv.html.twig' %}
        {% include 'main/skills.html.twig' %}
        {% include 'main/projects_slider.html.twig' %}
        <div class="row container m-auto" id="contact_comments">
            {% include 'main/contact.html.twig' %}
            {% include 'main/comments.html.twig' %}
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('/js/main.js') }}"></script>
        <script src="{{ asset('/js/Effects.js') }}"></script>
        <script src="{{ asset('/js/Skills.js') }}"></script>
        <script src="{{ asset('/js/Ajax.js') }}"></script>
        <script src="{{ asset('/js/Slider.js') }}"></script>




    </body>
</html>

<script>

</script>